<!-- Web-to-Lead Form -->
<form action="<%= Rails.application.routes.url_helpers.generate_url %>" method="post" name="web_form" id="web_form" class="web_form">
  <%= hidden_field_tag :lead_owner, @lead_owner if defined?(@lead_owner) %>
  <%= hidden_field_tag :params, @in_lead if defined?(@in_lead) %>
  <%= hidden_field_tag :redirect_url, @redirect_url if defined?(@redirect_url) %>

  <% if defined?(@in_lead) && @in_lead.present? %>
    <% @in_lead.each do |field| %>
      <label for="<%= field %>"><%= field.humanize %></label>
      <% if field == 'email' %>
        <%= text_field_tag field, @value,
            class: "required email",
            id: field,
            type: "email",
            required: true %>
      <% elsif field == 'comments' %>
        <%= text_area_tag field, @value,
            class: "required",
            id: field,
            rows: 4,
            required: true %>
      <% else %>
        <%= text_field_tag field, @value,
            class: "required",
            id: field,
            required: true %>
      <% end %>
      <br>
    <% end %>
  <% else %>
    <!-- Default form fields when @in_lead is not defined -->
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" class="required" required>
    <br>

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" class="required" required>
    <br>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="required email" required>
    <br>

    <label for="company">Company</label>
    <input type="text" name="company" id="company" class="required" required>
    <br>

    <label for="comments">Comments</label>
    <textarea name="comments" id="comments" rows="4" class="required" required></textarea>
    <br>
  <% end %>

  <input type="submit" value="Submit" class="btn btn-primary">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script>
$(document).ready(function() {
  $("#web_form").validate({
    rules: {
      email: {
        required: true,
        email: true
      }
    },
    messages: {
      email: {
        required: "Please enter your email address",
        email: "Please enter a valid email address"
      }
    }
  });
});
</script>